<template name="verifyEmail">

<style>
  body {background-color:  #ede7f6;}
</style>

<div class="container">
  <div class="card-panel green lighten-2">
      <div class="card-content center-align">
            <h2> Verify your email address</h2>
           <h4> We have sent you a verify email.
             Please verify your mail by going to your mail and
             click the link in the mail.    </h4>
      </div>
  </div>

<div class="card-panel blue lighten-1 ">
  <div class="card-content center-align">
      <h5>
        if you have not received your mail after one day,
        contact the admins.They will verify your email for you.
      </h5>

      <a class="waves-effect orange darken-4 btn"
      id="reSend">
        <i class="material-icons right">email</i>
        Re-Send verification Email
      </a>



   </div>
</div>

</div>
</template>
