<template name="home">
 {{>style_home}}
 {{>homeNavbar}}
<div class="container">

  <div id="jumbo" class="row">
    <div class="center-align">
      <h3 class="center-align"> An Islamic Match-Making Platform </h3>
      <h4 class="center-align"> For <i>Practising</i> Muslims</h4>
    </div>
  </div>

<div class="row">
  <div id="ico" class="center-align">
      <span class="left">
      <img height="33" src="http://res-2.cloudinary.com/cloudinary/image/asset/c_scale,dpr_2.0,h_33,w_39/ico-powerful-admin-sm-2x-a49fc8b85b7373b2f69d48b28513556e.png" width="39">
       <h5>Chat Monitoring </h5>
      </span>

      <span class="right">
      <img height="33" src="http://res-4.cloudinary.com/cloudinary/image/asset/c_scale,dpr_2.0,h_29,w_38/ico-image-transform-sm-2x-6b6099d88e2bf4b010f62d25018eacb0.png" width="38">
      <h5>Image Request-Deny System </h5>
      </span>
  </div>
</div>

<div class="row">
  <div class="center-align " id="signUp">
    <a href="{{pathFor 'signUp'}}"
    class="waves-effect waves-light btn btn-large orange darken-3">
      Sign Up for Free
    </a>
  </div>
</div>

  <div id="examplePic" class="row">

    <div class="col s6">
       <img class="responsive-img
       materialbox initialized" width="600"
        src="/chat.png">
    </div>

    <div class="col s6">
       <img class="responsive-img
       materialbox initialized" width="600"
        src="/grant.png">
    </div>
  </div>

</div>
</template>




<template name="homeNavbar">

   <div class="navbar-fixed">
     <nav id="navHome">
    <div class="nav-wrapper">

         <a href="#" id="brandLogo"
         name="brand-logo" class="brand-logo left
         hide-on-med-and-down">
            <b>Sukun Matrimony </b>
         </a>

         <div class="center-align right" id="loginNav">
            {{>login}}
         </div>

         <div id="forgot">
           <div class="right">
             <a class="black-text"
             href="{{pathFor 'forgotPassword'}}">
               <u> forgot password ? </u>
             </a>
           </div>
         </div>
      </div>
    </nav>
  </div>

</template>
