
<template name="payment">
    {{>style_list}}
     <div class="container">
       <div class="card-panel">
         <h4>
           Bikash number 01552323490
        </h4>

         <p id="paymentForm">
           fillup the form bellow to enter your
           BIKASH payment number. <br>

           <br>

           Then Message your username & amount
           via the website messaging system..  <br> <br>

           Barakallahu fik.
         </p>

         {{#if currentUser }}
          {{> quickForm collection="Payment"
          id="payment" type="insert"
          omitFields="createdBy,paid"}}
         {{/if}}
       </div>
     </div>
</template>
