
<template name="payment">
    {{>style_list}}
     <div class="container">
       <div class="card-panel">
         <h4>
           Bikash number 01703305288
        </h4>

         <p id="paymentForm">
           fillup the form bellow to enter your
           BIKASH payment number. Then Message
           your username,amount <br>
           @ 01703305288, or you can just message us through the
           website messaging system.
           <br> <br>

           After paying, You <b>must </b> let us know that you have paid
           either through the messaging service in the website,<br> or
           via text message or phone.  <br> <br>

           Barakallahu fik.
         </p>

         {{#if currentUser }}
          {{> quickForm collection="Payment"
          id="payment" type="insert"
          omitFields="createdBy,paid"}}
         {{/if}}
       </div>
     </div>
</template>
