.materialboxed {
    /*height: 300px;
    width: 300px;*/
    border: 10px solid rgb(18, 41, 217);
    -webkit-box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    transform: rotate(-3deg);
    box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    float: right;
    margin: -30px 0 0 0;
    top:
}

.card-panel{
border-radius: 5px;
}

.side-nav {
    background-color: rgb(175, 149, 231);
}


#brandLogo{
  left: 10px;
  font-size: 25px;
}

#inputMessage{
  position: fixed;
  bottom: 1px;
  margin-left: 300px;
  width: 500px;
}

.mess{
 font-size: 25px;
}

.bodyOfMessage{
  font-size: 25px;
}

.listText{
  font-size: 15px;
}

input[type=text], input[type=password], input[type=email] {
    font-size: 2rem;
}

#buttonlist {
  bottom: 30px;
}

#buttonLogout {
  right: 10px;
}

@media (max-width: 992px) {
.side-nav.fixed {
    left: -1%;
    width: 50px;
  }
}


/*html {
    font-family: Roboto, sans-serif;
}

.nav-wrapper  {
    background-color:#40c4ff;
}

.nav-wrapper > .brand-logo  {
    position: fixed;
    left: 35px;
    padding-left: 15px;
}

#email{
  border-bottom: 2px solid #000000;
}

#password{
  border-bottom: 2px solid #000000;
}

#tagline{
   position:absolute;
   visibility:show;
   right: 300px;
   top: 300px;
   z-index:200
}

.tag{
      font-size: 3.56rem;
      line-height: 3.916rem;
      font-family: Roboto,sans-serif;
      font-weight: 100;
      top: 500px;
      color: rgba(#f4ebeb, 0);

}

.card-panel{
border-radius: 5px;

}

.row .col.s3 {
    width: 15%;
    margin-left: 0;
}

.btn {
    border-radius: 10px;
    left: -7px;
}

.btn-large {
    border-radius: 10px;
}

#friendship{
   left: 30px;
}

#chatButton{
  left: 10px;
}


#sidebar-wrapper {

    position: fixed;
    left: 250px;
    width:15% ;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background:  #b3e5fc;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.conversation {
    display: block;
    color: #000;
    height: 65px;
    font-size: 20px;
    line-height: 60px;
    margin-left:-20px;

}


.sidebar-nav li {
    text-indent: 15px;

}

#side li {
  color: #c1db1d;
  margin-left: 35px;
  font-size: 1.64rem;
}

#side li a:hover {
    text-decoration: none;
    background: rgba(176, 14, 14, 0.1);
}

#side li a:active,
#side li a:focus {
    text-decoration: none;
}


.sidebar-nav li h5 {
    color: #000;
    margin-left: 15px;

}


img.responsive-img, video.responsive-video {
    max-width: 80%;
    height: auto;
}

#box {
    background-color: #00BCD4;
    box-shadow: 5 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    overflow: hidden;
    z-index: 9;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 150px;

}

#page-content-wrapper {
    position: absolute;
    right: 250px;
    width: 700px;
    top: 120px;
}

#inputMessage{
  position: fixed;
  bottom: 1px;
  right:600px;
  width: 500px;
}

#message {
 font-size: 2rem;
}

input[type=text], input[type=password], input[type=email] {

    font-size: 2rem;
}*/

/*#pic {
    height: 260px;
    width: 200px;
    border: 10px solid white;
    -webkit-box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    transform: rotate(-3deg);
    box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    float: right;
    margin: -30px 0 0 0;
}*/
