div.card-panel-transparent {
        background: none;
    }

html {

    font-family: Verdana, sans-serif;

}

#inputMessage{
  position: fixed;
  bottom: 1px;
}

#email{
  border-bottom: 2px solid #000000;
}

#password{
  border-bottom: 2px solid #000000;
}

#biye{
   position:absolute;
   visibility:show;
   right: 300px;
   top: 300px;
   z-index:200
}

.tag{
      font-size: 3.56rem;
      line-height: 3.916rem;
      font-family: Roboto,sans-serif;
      font-weight: 100;
      top: 500px;
      color: rgba(#f4ebeb, 0);

}

.card-panel{
border-radius: 5px;

}

.row .col.s3 {
    width: 15%;
    margin-left: 0;
}

.btn {
    border-radius: 10px;
    left: -7px;
}

.btn-large {
    border-radius: 10px;

}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    /*z-index: 1000;*/
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #2ecc71;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li h5 {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li h5:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li h5:active,
.sidebar-nav li h5:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 9px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand h5 {
    color: #999999;

}

.sidebar-nav > .sidebar-brand h5:hover {
    color: #fff;
    background: none;
}

.nav-wrapper > .brand-logo  {

    padding-left: 15px;
}

.nav-wrapper  {

    background-color: #00bcd4;
}

img.responsive-img, video.responsive-video {
    max-width: 80%;
    height: auto;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
