.maleMessage {
    font-size: 25px;
    padding: 11px;
    /*margin: 1em 0 3em;*/
    color: #fff;
    background: #075698;
    border-radius: 10px;
    /*left: 54px;*/
}

.femaleMessage {
    font-size: 25px;
    padding: 11px;
    /*margin: 1em 0 3em;*/
    color: #fff;
    background: #D15A82;
    border-radius: 10px;
    /*left: 54px;*/
}

.adminMessage {
    font-size: 25px;
    padding: 11px;
    /*margin: 1em 0 3em;*/
    color: rgba(5, 2, 3, 0.97);
    background: rgb(218, 222, 42);
    border-radius: 10px;
    /*left: 54px;*/
}

.border {
  background: rgb(110, 44, 99);
  border-radius: 10px;
  border-style: solid;
}
