<template name="chat">
  {{>style_chat}}
 {{#if currentUser}}
       {{>header}}

<div class="row">
 <div class="col s3">
   <ul id="border" class="center">
     <li>
        <i class="medium material-icons">person_pin</i>
     </li>

     {{#each conversationsIstarted}}
       <li name="user" class="border">
          <a href='#'>
            <h4 class="hide-on-med-and-down">{{invited}}  </h4>
            <h5 class="hide-on-large-only">{{invited}}  </h5>
         </a>
         <a href="#" id="delete">
           <i class="small material-icons">delete_forever</i>
         </a>
       </li>
     {{/each}}

      {{#each conversationsIwasInvited}}
        <li name="user" class="border">
         <a href='#'>
           <h4 class="hide-on-med-and-down"> {{inviter}}  </h4>
           <h5 class="hide-on-large-only">{{inviter}}  </h5>
         </a>
         <a href="#" id="delete">
           <i class="small material-icons">delete_forever</i>
         </a>
       </li>
      {{/each}}

   </ul>
 </div>

 <div class="col s9 right">
   <div class="container">
      <div id='messagebox'>
       {{#each displayMessages}}

              <span class="{{#if $eq user.profile.gender "male"}} maleMessage {{else}} femaleMessage {{/if}}">
               {{user.username}} :
             </span>
              <span class="{{#if $eq user.profile.gender "male"}} maleMessage {{else}} femaleMessage {{/if}}">
                {{body}}
              </span>
        <br> <br> <br>
       {{/each}}
    </div>
 </div>
  </div>
</div>

<div class="col s9">
  <div class="container">
   {{!-- <label for="messages"> Write you messages here</label> --}}
    <input type="text" id="chatBox" name="message"
    placeholder="write your messages here">
  </div>
</div>

{{/if}}
</template>
