<template name="details">
 {{>style_show}}
  <div class="container">
    <div class="card-panel">
       <h4> Upload Your CV Here</h4>

    </div>

    <div class="card-panel" id="form">
    {{#if currentUser}}
      {{#if $eq currentUser.profile.gender "male"}}
        {{>  quickForm collection="Biye"
            id="details" type="insert"
            omitFields="createdBy,religiousFacts.hijab, mySpouseShouldBe.beard"}}
          {{else}}
        {{> quickForm collection="Biye"
            id="details" type="insert"
            omitFields="createdBy, religiousFacts.beard, mySpouseShouldBe.hijab "}}
      {{/if}}
    {{/if}}
    </div>
  </div>
</template>


<template name="updateDetails">
 {{>style_show}}
  <div class="container">
    <div class="card-panel" id="form">
      {{#if currentUser }}
        {{#with updateProfile}}
        {{#if $eq currentUser.profile.gender "male"}}
          {{> quickForm collection="Biye"
             doc=this id="updateDetails" type="update"
              omitFields="createdBy, religiousFacts.hijab,mySpouseShouldBe.beard   "}}
            {{else}}
          {{> quickForm collection="Biye"
             doc=this id="updateDetails" type="update"
              omitFields="createdBy, religiousFacts.beard,mySpouseShouldBe.hijab "}}
        {{/if}}
        {{/with}}
      {{/if}}
    </div>
  </div>
</template>
