<template name="adminApprove">
 {{#if currentUser}}
    <div class="container">
      <div class="row">
        <div class="col s3 right">
          <h2>Male users</h2>
          <ul>
            {{#each male}}
              <li name="user">
                <a href="#">
                  {{username}}
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="col s3 left">
          <h2>Female users</h2>
          <ul>
           {{#each female}}
            <li name="user">
              <a href="#">
                  {{username}}
              </a>
            </li>
          {{/each}}
          </ul>
        </div>
        <div class="col s6 center">
          <h2>cv of users </h2>
              {{#with cv}}
                 <h1> {{personalInformation.age}}</h1>
              {{/with}}
        </div>
      </div>
    </div>
  {{/if}}
  <style>
    body { background-color:  #ede7f6;}
  </style>
</template>
