.materialboxed {
    /*height: 300px;
    width: 300px;*/
    border: 10px solid rgb(200, 209, 213);
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    /*transform: rotate(3deg);*/
    box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    float: right;
    margin: -30px 0 0 0;
}

.materialbox {
    /*height: 300px;
    width: 300px;*/
    border: 10px solid rgb(200, 209, 213);
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    /*transform: rotate(5deg);*/
    box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    float: right;
    margin: 15px 63px 0 0;
}

.card-panel{
border-radius: 5px;
}

.side-nav {
    background-color: rgb(175, 149, 231);
    width:250px;
}


#brandLogo{
  left: 10px;
  font-size: 25px;
  color:black
}

#inputMessage{
  position: fixed;
  bottom: 1px;
  margin-left: 300px;
  width: 500px;
}

.bodyOfMessage{
  font-size: 25px;
}

.listText{
  font-size: 18px;
}

input[type=text], input[type=password], input[type=email] {
    font-size: 2rem;
    color: black;
}


#buttonlist {
  bottom: 30px;
}

#logout {
  margin-right: 20px;
}

#chatWrapper   {
    position: fixed;
    left: 380px;
    /*padding-left: 15px;*/
}

@media (max-width: 992px){
.side-nav.fixed {
    left: 0%;
 }
}

@media only screen and (min-width: 1200px){
html {
    font-size: 13px;
 }
}

@media (max-width: 650px) {

.side-nav.fixed {
    left: 0%;
    width: 100px;
  }

.brand-logo{
  left: -5px;
  font-size: 14px;
 }

 #chatWrapper{
     position: fixed;
     left: 150 px;
 }

}

/*.notification-badge {
    top: 11px;
    right: 1px;
}*/

.notification-container {
  position: relative;
  top: 20px;
  right: 15px;
  display: block;

  }

nav {
      background-color:#75BAEC;
  }

  #navHome {
    background-color:#66A8DC;

  }

  [name="logout"] {
      color: black;
      font-size: small;
  }

  .bodyOfMessage {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    color:#fff;
    background:#075698;
    border-radius:10px;
    left: 50px;
  }

  .user {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    color:#fff;
    background:#848ED8;
    border-radius:10px;
    font-size: 25px;
  }

#signUp{
   margin-right:10px;
   font-size: 17px;
}

#loginNav{
  margin-right:80px;
}

#forgot{
  position:relative;;
  left: 416px;
  top: 25px;
}

#ico{
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 47px;
}

#jumbo {
  margin-top: 35px;
}

#examplePic {
  margin-top: 45px;
  margin-right: -94px;
}

#chatPic {
  margin-top: 5px;
  margin-right: 220px;
}

.collection {
    margin: 1.5rem 0 1rem 0;
    border: 3px solid #FFACAC;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
}

*, *:before, *:after {
    box-sizing: initial;
}

.collection .collection-item.avatar .title {
    font-size: 22px;
}

#paymentForm{
  font-size: 20px;
}

#photoRequest{
  color:black;
  font-size: small;
}

#chatRequest{
  color:black;
  font-size: small;
}

#dashBoard{
  font-size: small;
  color: black;
}

#tables{
  font-size: large;
}
