<template name="admin">
  {{>style_show}}
   <div class="container">
     <div class="card-panel">
       <h4> Admin</h4>
          <h4> Wants to Pay</h4>
          {{#each wantsToPay}}
              <ul class="collection">
                <li class="collection-item avatar">
                  <span class="title">Bikash Id : {{bikash}}</span>
                  <p>createdBy : {{createdBy}}</p>

                  <a href="#" id="makePaid" name= "paid"
                  class="waves-effect waves-light btn large indigo">Make Member
                  </a>

                </li>
              </ul>
          {{/each}}
     </div>
   </div>
</template>
