<template name="details">
 {{>style_show}}
  <div class="container">
    <div class="card-panel" id="form">
      {{#if currentUser }}
        {{> quickForm collection="Biye"
            id="details" type="insert"
            omitFields="createdBy"}}
      {{/if}}
    </div>
  </div>
</template>


<template name="updateDetails">
 {{>style_show}}
  <div class="container">
    <div class="card-panel" id="form">
      {{#if currentUser }}
        {{#with updateProfile}}
          {{> quickForm collection="Biye"
             doc=this id="updateDetails"
             type="update" omitFields="createdBy"}}
        {{/with}}

      {{/if}}
    </div>
  </div>
</template>
