<template name="chat">
 {{#if currentUser}}
    {{>header}}
    <div class="container">
            {{> sidebar }}
            {{> messages }}
            {{> input }}
    </div>
  {{/if}}
  <style>
    body {background-color:  #ede7f6;}
  </style>
</template>

<template name="sidebar">
    <div id="sidebar-wrapper">
        <ul id="nav-mobile" class="side-nav fixed">
            <li>
                <a class="brand-logo" style="font-size:25px;" href=" #">
                    conversations
                </a>
            </li>

            {{#each conversationsIstarted}}
                <li name="user">
                <a href='#' style="font-size:17px;">{{invited}}</a></li>
            {{/each}}

            {{#each conversationsIwasInvited}}
              <li name="user">
              <a href='#' style="font-size:17px;">{{inviter}}</a></li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="messages">
  {{#with displayMessages}}
     <div id="chatWrapper">
      {{#each this.messages}}
        <div class="row">
          <div id="message" class="col s12">
            <strong class="mess">{{user.username}}:</strong>
             <span class="bodyOfMessage"> {{body}} </span><br>
          </div>
        </div>
      {{/each}}
     </div>
  {{/with}}
</template>

<template name="input">
  <div id="inputMessage">
     <input type="text" name="message">
  </div>
</template>
