<template name="chat">
 {{#if currentUser}}
    {{>header}}
    <div class="container">
            {{> sidebar }}
            {{> messages }}
            {{> input }}
    </div>
  {{/if}}
  <style>
    body {background-color:  #ede7f6;}
  </style>
</template>

<template name="sidebar">
<div id="sidebar-wrapper">
  <ul id="nav-mobile" class="side-nav fixed">
    <li>
        <a class="brand-logo"
         style="font-size:25px;" href=" #">
          conversations
        </a>
    </li>

    {{#each conversationsIstarted}}
        <li name="user">
           <a href='#' style="font-size:17px;">
            {{invited}}
          </a>
        </li>
    {{/each}}

     {{#each conversationsIwasInvited}}
        <li name="user">
          <a href='#' style="font-size:17px;">
            {{inviter}}
          </a>
        </li>
     {{/each}}
  </ul>
</div>
</template>

<template name="messages">

  {{#each displayMessages}}
   <span class="bodyOfMessage">
     {{user.username}}:
     {{body}}
   </span>
   <br> <br> <br>
  {{/each}}

</template>

<template name="input">
  <div id="inputMessage">
    <label for="textarea">
      Write your message here
    </label>
    <textarea id="textarea"
      class="materialize-textarea"
      name="message">
    </textarea>
  </div>
</template>
