<template name="loginPage">
 {{>style_signUp}}
<div class="container">
   {{>login}}
</div>
</template>



<template name="login">
  <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
      <input id="email" type="email">
      <label class ="black-text" for="email">Email</label>
      </div>
      <div class="input-field col s5">
      <input id="password" type="password">
      <label class ="black-text"
      for="password">Password</label>
      </div>
      <div class="col s1" >
      <input class= "waves-effect waves-light btn blue"
      type="submit" value="login">
      </div>
    </div>
  </form>
</div>
</template>
