<template name="signUp">
 {{>style_signUp}}
<div class="container">
  <div class="center-align">
   {{>register}}
  </div>
</div>
</template>


<template name="register">



      <div class = "card-panel white lighten-2 center-align" >
        <form  class="register">
          <p>Email: <input type="email" name= "email">  </p>
          <p>Password: <input type="password" name="password"></p>
          <p>User Name: <input type="text" name="username"></p>
          <p>Age: <input type="number" name="age" min="16" max="55"></p>
          <p class="center-align"> <input id="1" type="radio"
            name="sex" value="male" required>
          <label for="1">Male </label>
          <input id="2" type="radio" name="sex" value="female" required>
          <label for="2"> Female</label></p>
          <input id="button" class= "waves-effect waves-light btn-large"
          type="submit" value="register">
        </form>
     </div>


</template>
