<template name="banned">

<style>
  body {background-color:  rgb(249, 37, 88);}
</style>

<div class="container">
<div class="valign-wrapper">
  <div class="card-panel green lighten-2">
      <div class="card-content center-align">
            <h2> You have been Banned</h2>
           <h4> You might have done something that is
             deemed inappropriate.
             If you are a paid user,
             your current months money will be refunded.
           Contact the admin to lift the ban </h4>
          </div>
      </div>
  </div>
</div>
</template>
