<template name="list">
 {{>style_list}}
  {{>header}}

{{#if currentUser}}
    <div class="container">
      {{#each people}}
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="/1.jpg" alt="" class="circle">
            <span class="title">{{username}}</span>
            <p class="listText">{{profile.gender}} <br>
                {{profile.age}} years
             </p>
               <a href="{{pathFor 'show'}}" id="buttonlist"
               class="waves-effect waves-light btn right"> See More
               </a>
          </li>
        </ul>
      {{/each}}
    </div>
{{/if}}
</template>
