<template name="show">
  {{>header}}
  {{>style_list}}

<div class="container">

<div>
   <h2> {{username}}'s profile </h2>
</div>

<div>
{{#if this.isFriendsWith currentUser }}

    {{#with  detailsDb}}
      <div class="col s4">
         <img class="responsive-img
         materialboxed initialized" width="400"
          src=" {{image}}" alt="">
      </div>
    {{/with}}

  <a id="friendship" name= "end-friendship"
  class="waves-effect waves-light
  btn red lighten-1"> Revoke Photo Access</a>

  {{else}}

    {{#if currentUser.hasRequestFrom this}}
      <img class="materialboxed" width="400" src="/1.jpg">

        <a id="friendship" name= "accept"
        class="waves-effect waves-light
        btn purple darken-2">Grant Photo Access </a>
<br> <br>
        <!-- <a id="friendship" name= "deny"
        class="waves-effect waves-light
        btn red accent-3">DENY Photo Access</a> -->


  {{else}}

  {{#if hasRequestFrom currentUser}}
   <img class="materialboxed" width="400" src="/1.jpg">

       <a id="friendship" name= "cancel-request"
       class="waves-effect waves-light
       btn red lighten-1"> Cancel Photo Request  </a>

   {{else}}

     <img class="materialboxed" width="400" src="/1.jpg">
     <a id="friendship" name= "add-friend"
     class="waves-effect waves-light
     btn indigo">Request Photo Access </a>

    {{/if}}
   {{/if}}
{{/if}}

</div>
   <br>
<div>
  <a href="#" id="chatButton" name= "chat"
  class="waves-effect waves-light btn large indigo">Chat
  <i class="material-icons">chat_bubble_outline</i>
</a> <br><br>

<a href="#" id="favourite"
class="waves-effect waves-light btn small orange">
<i class="material-icons large">stars</i>
</a>

</div>


{{#with detailsDb}}
      {{!-- ......................1st section.......................  --}}


  <div class="row">
    <h4 class="header indigo-text lighten-1 section-title">



    </h4>
  </div>

  <div class="row">
    <h4 class="header Black-text lighten-1 section-title">
          About Me
    </h4>
  </div>

   <div class="row">

     <div class="col s12 m4">
          <div class="card green lighten-2">
            <div class="card-content black-text">
              <span class="card-title black-text">Personal Info
               <i class="small material-icons right">face</i>
              </span>
              <p id="bigText"> Age:{{age}}</p>
              <p id="bigText"> Height:{{height}}</p>
              <p id="bigText"> Present Residence: {{PresentResidence}}</p>
              <p id="bigText"> Original Residence: {{originalResidence}}</p>
            </div>
          </div>
     </div>

     <div class="col s12 m4">
          <div class="card green lighten-2">
            <div class="card-content black-text">
              <span class="card-title black-text">Education
               <i class="small material-icons right">receipt</i>
              </span>
                <p id="bigText"> last/Next Degree:{{lastOrNextDegree}}</p>
                <p id="bigText"> School:{{school}}</p>
                <p id="bigText"> College:{{college}}</p>
                <p id="bigText"> University:{{university}}</p>
            </div>
          </div>
     </div>

     <div class="col s12 m4">
          <div class="card green lighten-2">
            <div class="card-content black-text">
              <span class="card-title black-text">Religious Facts
               <i class="material-icons right">brightness_3</i>
              </span>
                <p id="bigText"> Prayer:{{prayer}}</p>
                <p id="bigText"> Religious History:{{religiousHistory}}</p>
                <p id="bigText"> Hijab:{{ Hijab}}</p>
                <p id="bigText"> Beard : {{beard}} </p>

            </div>
          </div>
     </div>
   </div> {{!-- row end --}}
    {{!-- ......................2nd section.......................  --}}

    <div class="row">

      <div class="col s12 m4">
           <div class="card green lighten-2">
             <div class="card-content black-text">
               <span class="card-title black-text">Family
              <i class="small material-icons right">account_box</i>
               </span>
               <p id="bigText"> Father:{{fathersJobDescription}}</p>
               <p id="bigText"> Brother:{{ brothersJobDescription}}</p>
             </div>
           </div>
      </div>

      <div class="col s12 m4">
           <div class="card green lighten-2">
             <div class="card-content black-text">
               <span class="card-title black-text">Marital Status
                <i class="small material-icons right">supervisor_account</i>
               </span>
                 <p id="bigText"> Marital Status:{{maritalStatus}}</p>
                 <p id="bigText"> Children(if any):{{numberOfChildren}}</p>
             </div>
           </div>
      </div>

      <div class="col s12 m4">
           <div class="card green lighten-2">
             <div class="card-content black-text">
               <span class="card-title black-text">Job
                <i class="material-icons right">brightness_3</i>
               </span>
                 <p id="bigText">  Profession:{{ profession}}</p>
                 <p id="bigText"> Job Title:{{jobTitle}}</p>
             </div>
           </div>
      </div>
    </div> {{!-- row end --}}

    {{!-- ...................... section.......................  --}}

<div class="section fun-facts">
  <div class="row">
     <div class="col s12 m12">
         <div class="card green lighten-2">
             <div class="card-content black-text">
                   <i class="material-icons">face</i>
                     <span class="card-title black-text">
                   {{ aboutMe}}
                 </span>
             </div>
         </div>
     </div>
  </div>
</div>
   {{!-- ......................Looking For.......................  --}}

   <div class="row">
     <h4 class="header Black-text
     lighten-1 section-title">
         Looking For
     </h4>
   </div>

<div class="section fun-facts">
 <div class="row">
  <div class="col s12 m12">
   <div class="card blue lighten-2">
    <div class="card-content black-text">
      <i class="material-icons ">face</i>
       <span class="card-title black-text">
         {{lookingFor}}
       </span>

    </div>
   </div>
  </div>
 </div>
</div>

   {{!-- ...................... section.......................  --}}
 <div class="row">

   <div class="col s12 m6">
        <div class="card   blue lighten-2">
          <div class="card-content black-text">
            <span class="card-title black-text">Personal Info
             <i class="small material-icons right">face</i>
            </span>
            <p id="bigText"> Age:{{mySpousesAgeShouldBe}}</p>
            <p id="bigText"> Height:{{ mySpousesHeightShouldBe}}</p>
            <p id="bigText"> Last/Next Degree:{{lastOrNextDegreeShouldBe}}</p>
          </div>
        </div>
   </div>


   <div class="col s12 m6">
        <div class="card blue lighten-2">
          <div class="card-content black-text">
            <span class="card-title black-text">Religious Facts
             <i class="material-icons right">brightness_3</i>
            </span>
              <p id="bigText"> Hijab:{{whatKindOfHijabYourSpouseShouldWear}}</p>
              <p id="bigText"> Prayer:{{youWantYourSpousesPrayerToBe}}</p>
              <p id="bigText"> Beard:{{HeShouldHaveThisKindOfBeard}}</p>
          </div>
        </div>
   </div>
 </div> {{!-- row end --}}


 {{!-- ...................... section.......................  --}}
  {{/with}}



</div>  {{!-- container --}}
</template>
